{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/todo/update_director.css' %}">
{% endblock %}

{% block main %}

  <div class="container mx-auto">
    <div class="container mx-auto mt-4 w-3/5 flex flex-col justify-center">
      <div class="flex justify-center">
        <h3>Update Task Menu</h3>
      </div>
      <div class="w-full">
        <form method="POST">
          {% csrf_token %}
            <div class="update-task-label mt-4 mb-2">
              <label for="title">Title</label>
              {{ form.title|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
            </div>
          <div class="flex flex-row-reverse mt-4">
            <button type="submit" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
